@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Regular.eot');
    src: url('Manrope-Regular.eot?#iefix') format('embedded-opentype'),
        url('Manrope-Regular.woff2') format('woff2'),
        url('Manrope-Regular.woff') format('woff'),
        url('Manrope-Regular.ttf') format('truetype'),
        url('Manrope-Regular.svg#Manrope-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Bold.eot');
    src: url('Manrope-Bold.eot?#iefix') format('embedded-opentype'),
        url('Manrope-Bold.woff2') format('woff2'),
        url('Manrope-Bold.woff') format('woff'),
        url('Manrope-Bold.ttf') format('truetype'),
        url('Manrope-Bold.svg#Manrope-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

